<!-- This file to be renamed index.handlebars -->
<h1 style="text-align:center">NoGym!</h1>

<h2 style="text-align:center">Welcome To Your Personalized Home Workout!</h2>


<h2> Create a Group</h2>
<form class="create-form">
    <!-- group owner input -->
    <div class="form-group">
        <label for="group">Group Owner:</label>
        <input type="text" id="owner" name="name">
    </div>
    <!-- group name input  -->
    <div class="form-group">
        <label for="group">Group Name:</label>
        <input type="text" id="group" name="name">
    </div>

    <button type="submit">Create a Group</button>
</form>

<h2> View Groups</h2>
<table class="view-groups">