* {
    z-index: 1;
}

body {
    position: relative;
    height: 100vh;
    width: 100%;
    /* align-items: center; */
    /* justify-content: center; */
    background-image: url('../images/yoga.jpg');
    background-size: cover;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, .1)
}

form.signup,
form.login {
    margin-top: 50px;
    font-size: 20px;
}

h1 {
    font-size: x-large;
    color: white;
    font-weight: bold;
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

.dev-title {
    color: black;
}

h3 {
    color: white;
}

.welcome {
    font-size: x-large;
    color: white;
}

.pwEm {
    font-size: large;
    font-weight: bold;
    color: white;
}

h3 {
    color: white;
}

.specialCard {
    padding-top: 15px;
}

.pageText {
    color: black;
    font-size: medium;
    background-color: white
}

.routine {
    background-color: black;
}


/* AboutUs Page Styles */

.title {
    font-size: 4rem;
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.us {   
    height: auto;       
    text-align: center;
    font-size: 1.5rem;    
    background-color: rgba(255,255,255, .7) !important;
    color: black;    
    border-radius: 15px 50px 30px;
    float: left;
    width: 35rem;
    margin: 4rem;  
}

.card {
    background-color:transparent;
    border: 0rem;
}

.card-img-top {
    padding: 2%;
    border-radius: 15px 50px 30px;
}

.card-text {
    height: 15rem;
    font-size: 1.1rem;
    overflow: auto;
}

ul {
    color: #0808c0;
    font-size: 1.1rem;

.btn-info {
    background-color: rgb(120, 71, 133);
    color: black;
}

.bmi {
    position: absolute;

}